<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon.png">
    <title>User Info - My Demo Project</title>
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="assets/libs/select2/dist/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="assets/libs/jquery-minicolors/jquery.minicolors.css">
    <link rel="stylesheet" type="text/css" href="assets/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    
    <link href="dist/css/style.min.css" rel="stylesheet">
    <link href="assets/libs/toastr/build/toastr.min.css" rel="stylesheet">
</head>

<body>
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <div id="main-wrapper">
        <%- include('navbar.html'); -%>
        <%- include('sidebar.html'); -%>
            
        <div class="page-wrapper">
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        <h4 class="page-title">User Info</h4>
                        <div class="ml-auto text-right">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">User Information</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <form id="userData" class="form-horizontal">
                                <div class="card-body">
                                    <h4 class="card-title">Personal Info</h4>
                                    <div class="form-group row">
                                        <label for="fname" class="col-sm-3 text-right control-label col-form-label">User Name</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" value="<%= locals.userInfo ? userInfo.userName : '' %>" name="userName" id="userName" placeholder="Please Provide Username">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="lname" class="col-sm-3 text-right control-label col-form-label">User Email</label>
                                        <div class="col-sm-9">
                                            <input type="email" class="form-control" value="<%= locals.userInfo ? userInfo.userEmail : '' %>" id="userEmail" name="userEmail" placeholder="User Email">
                                        </div>
                                    </div>
                                </div>
                                <div class="border-top">
                                    <div class="card-body">
                                        <img width="50px" style="display:none;" id="userLoader" class="float-left" src="/assets/images/loader.gif" alt="Loader" srcset="">
                                        <button type="submit" id="userSubmit" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title m-b-0">User Address</h5>
                                <button  id="btnAdd"  class="btn btn-outline-primary float-right">Add Address</button>
                                <form id="addressInfo" class="form-horizontal">
                                    <div class="form-group m-t-20">
                                        <input type="text" class="form-control" value="<%=  locals.userAddress ? userAddress[0].userAddress : ''  %>"  name="address[]" id="date-mask" placeholder="Enter Address" required>
                                    </div>
                                    <div id="kids">    
                                        <% if(locals.userAddress && locals.userAddress.length > 1){ %>
                                            <% for(var i=1; i < userAddress.length; i++) { %>

                                                <div class="form-group m-t-20"> <input type="text" value="<%= userAddress[i].userAddress %>" name="address[]" class="form-control float-left" style="width:92%;" id="date-mask" placeholder="Enter Address" required> <input value="X" class="btn btn-w-m btn-danger float-right remove"  type="button" /><br><br></div>

                                            <% } %>
                                        <% } %>

                                    </div>
                                    <br>
                                    <div class="border-top">
                                        <div class="card-body">
                                            <img width="50px" style="display:none;" id="loader" class="float-left" src="/assets/images/loader.gif" alt="Loader" srcset="">
                                            <button type="submit" id="addressSubmit" class="btn btn-primary">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%- include('footer.html'); -%>
        </div>
    </div>
    <script src="assets/libs/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="assets/extra-libs/sparkline/sparkline.js"></script>
    <!--Wave Effects -->
    <script src="dist/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="dist/js/custom.min.js"></script>
    <!-- This Page JS -->
    <script src="assets/libs/inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>
    <script src="dist/js/pages/mask/mask.init.js"></script>
    <script src="assets/libs/toastr/build/toastr.min.js"></script>

   
    <script>
        $(document).ready(function () { 
            $("#btnAdd").bind("click", function () {
                var div = $("<div />");
                div.html('<div class="form-group m-t-20"> <input type="text" name="address[]" class="form-control float-left" style="width:92%;" id="date-mask" placeholder="Enter Address" required> <input value="X" class="btn btn-w-m btn-danger float-right remove"  type="button" /><br><br></div>');
                $("#kids").append(div);
            });
            $("body").on("click", ".remove", function () {
                $(this).closest("div").remove();
            });

            $('#addressInfo').submit(function() {
                // get all the inputs into an array.
                var values = $(this).serialize();
                values += '&userId=<%= locals.userInfo ? userInfo.userId : "" %>';
                console.log(JSON.stringify(values));
                $.ajax({
                    type:"PATCH",
                    url:"/addAddress",
                    data:values,
                    beforeSend:function(){
                        $('#loader').show();
                        $('#addressSubmit').hide();
                    },
                    success:function(result){
                        toastr.success('Data Updated Successfully', 'Updated');
                        $('#loader').hide();
                        $('#addressSubmit').show();
                    },
                    error:function(){
                        toastr.error('Data Is Not Updated', 'Sorry');
                        $('#loader').hide();
                        $('#addressSubmit').show();
                    },
                    complete: function() {
                        $('#loader').hide();
                        $('#addressSubmit').show();
                    },      
                });
                return false;
            });


            $('#userData').submit(function() {
                // get all the inputs into an array.
                var values = $(this).serialize();
                values += '&userId=<%= locals.userInfo ? userInfo.userId : "" %>';
                console.log(JSON.stringify(values));
                $.ajax({
                    type:"PATCH",
                    url:"/updateUser",
                    data:values,
                    beforeSend:function(){
                        $('#userLoader').show();
                        $('#userSubmit').hide();
                    },
                    success:function(result){
                        toastr.success('Data Updated Successfully', 'Updated');
                        $('#userLoader').hide();
                        $('#userSubmit').show();
                    },
                    error:function(){
                        toastr.error('Data Is Not Updated', 'Sorry');
                        $('#userLoader').hide();
                        $('#userSubmit').show();
                    },
                    complete: function() {
                        $('#userLoader').hide();
                        $('#userSubmit').show();
                    },      
                });
                return false;
            });
        });
    </script>
</body>

</html>